@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');


* {
  font-family: 'Inter', sans-serif;
}

form {
  text-align: center;
  padding: 20px;
}

h1 {
  text-align: center;
  font-weight: 800;
}


#jsonDataTable {
  width: 350px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: left;
  font-size: 14px;
}

.headertable{
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



.headertable th {
  padding-left: 52px;
  font-size: 14px;
}

.table td{
  border-top: 1px solid gray;
}
